<div class="mobile-menu">
    <button class="mobile-menu-close" style="position: absolute; top: 1.5rem; right: 1.5rem;">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <nav>
      <ul>
        <li><a href="/{{LANG}}/galeries.html" class="nav-link">{{TRAD_NAV_GALLERIES}}</a></li>
        <li><a href="/{{LANG}}/a-propos.html" class="nav-link">{{TRAD_NAV_ABOUT}}</a></li>
        <li><a href="/{{LANG}}/contact.html" class="nav-link">{{TRAD_NAV_CONTACT}}</a></li>
      </ul>
    </nav>
  </div>